
@media only screen and (max-width: 1440px) {
    .dashboard-index-container{
        padding: 20px;
        width: 990px;
        height: 650px;       

    }
    .dashboard-card-upper{
        width: 990px;
        height: 180px;
    }
    .graph{
        display: flex;
    }
}