
@media only screen and (max-width: 1440px) {
    .dashboard-index-container{
        padding: 20px;
        width: 1150px;
    }
    .dashboard-card-upper{
        width: 1150px;
        background: rgb(36,48,60);
        height: 200px;
    }
}