
@media only screen and (max-width: 1440px) {
    .dashboard-index-container{
        width: 990px;
        margin-bottom: 100px;
    }
    .dashboard-card-upper{
        width: 990px;
        height: 190px;
    }
    .graph{
        display: flex;
    }
}