<div class="progress-bar">
  <h3><b>You are on the way now</b></h3>
  <div class="container">
    <p>
      Part 01: Set Connection String
      <i
        class="ml-2 fas fa-info-circle small"
        matTooltip="The user is required to enter all the fields in including the website access account, including user name password, port number and database name, here is an example."
      ></i>
    </p>
    <p>
      Part 02: Configure Entities
      <i
        class="ml-2 fas fa-info-circle small"
        matTooltip="The next step, the system will read the tables in the system and return it to the user. All information will be displayed in tabular format."
      ></i>
    </p>
    <p>
      Part 03: Configure Column in Tables
      <i
        class="ml-2 fas fa-info-circle small"
        matTooltip="In step 3, Easy-Web will support this action, user can use table. Some tables users don't want to use, they can hide it"
      ></i>
    </p>
    <p>
      Part 04: Fill out Information & Preview
      <i
        class="ml-2 fas fa-info-circle small"
        matTooltip="The last step before generating the website, users will be required to enter all the necessary information related to their business"
      ></i>
    </p>
  </div>
  <div class="progress-bar-shape">
    <!-- Step 01 -->
    <div class="progress-bar-step step01">
      <div
        class="progress-bar-step-child step01"
        (click)="switchComponent(1)"
      ></div>
    </div>
    <div class="devider"></div>
    <!-- Step 02 -->
    <div class="progress-bar-step">
      <div class="progress-bar-step-child" (click)="switchComponent(2)"></div>
    </div>
    <div class="devider"></div>
    <!-- Step 03 -->
    <div class="progress-bar-step">
      <div class="progress-bar-step-child" (click)="switchComponent(3)"></div>
    </div>
    <div class="devider"></div>
    <!-- Step 04 -->
    <div class="progress-bar-step step04">
      <div
        class="progress-bar-step-child step04"
        (click)="switchComponent(4)"
      ></div>
    </div>
  </div>
</div>
