<div class="progress-bar">
  <h3><b>You are on the way now</b></h3>
  <div class="container">
    <p>
      Part 01: Set Connection String
      <i
        class="ml-2 fas fa-info-circle small"
        matTooltip="Info about the action"
      ></i>
    </p>
    <p>
      Part 02: Configure Entities
      <i
        class="ml-2 fas fa-info-circle small"
        matTooltip="Info about the action"
      ></i>
    </p>
    <p>
      Part 03: Configure Column in Tables
      <i
        class="ml-2 fas fa-info-circle small"
        matTooltip="Info about the action"
      ></i>
    </p>
    <p>
      Part 04: Fill out Information & Preview
      <i
        class="ml-2 fas fa-info-circle small"
        matTooltip="Info about the action"
      ></i>
    </p>
  </div>
  <div class="progress-bar-shape">
    <!-- Step 01 -->
    <div class="progress-bar-step step01">
      <div
        class="progress-bar-step-child step01"
        (click)="switchComponent(1)"
      ></div>
    </div>
    <div class="devider"></div>
    <!-- Step 02 -->
    <div class="progress-bar-step">
      <div class="progress-bar-step-child" (click)="switchComponent(2)"></div>
    </div>
    <div class="devider"></div>
    <!-- Step 03 -->
    <div class="progress-bar-step">
      <div class="progress-bar-step-child" (click)="switchComponent(3)"></div>
    </div>
    <div class="devider"></div>
    <!-- Step 04 -->
    <div class="progress-bar-step step04">
      <div
        class="progress-bar-step-child step04"
        (click)="switchComponent(4)"
      ></div>
    </div>
  </div>
</div>
