@import "../global-mode.scss";

.search__bar__container{
    width: 100%;
}
.search__bar{
    width: 100%;
    display: flex;
}
.search__bar__input{
    width: 80%;
    border-radius: 15px 15px 15px 15px;
    height: 40px;
    border-color: $lightColorBackground_Dark;
    border-width: 1px;
}
.search__bar__input:focus{
    outline: none;
}