.register__container {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
.bg_right {
  background-size: cover;
  background-image: url("../../../../assets/images/img21.jpg");
}
