<mat-card class="register__page">
    <img src="../../../../assets/images/LogoEasyWeb_02.png" width="200em">
    <div class="register__title">
        <h1>Register your account</h1>
        <p>
            Using this account to experience many feature of EasyWeb
        </p>
    </div>
    <form class="register__form">
        <div class="user__last">
            <div class="input-group mb-3">
                <input type="text" placeholder="First name"  class="form-control" [(ngModel)]="fName" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="input-group mb-3">
                <input type="text" placeholder="Last name"  class="form-control"  [(ngModel)]="lName" [ngModelOptions]="{standalone: true}">
            </div>
        </div>
        <div class="form__input">
        <div class="input-group mb-3">
            <input type="text" placeholder="User name"  class="form-control"  [(ngModel)]="userName" [ngModelOptions]="{standalone: true}">
        </div>
        </div>
        <div class="form__input">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Email" aria-label="Username"
                aria-describedby="basic-addon1"  [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
        </div>
        </div>
       <div class="form__input">
        <div class="input-group mb-3">
            <input type="password" placeholder="Password"  class="form-control"  [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
        </div>
       </div>
       <button class="btn btn-primary" (click)="onSubmitUser()">Submit</button>
       <button class="btn btn-secondary" [routerLink]="['/Home']" routerLinkActive="router-link-active" >Cancel</button>
    </form>
</mat-card>