<div class="index-container">
  <!-- Banner -->
  <section>
    <div class="banner-01">
      <h3>Drop Database <br />Get Your Website</h3>
      <button class="button button-explore">
        <svg
          class="svg-explore"
          width="180px"
          height="60px"
          viewBox="0 0 180 60"
          class="border"
        >
          <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
          <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
        </svg>
        <span>Explore</span>
      </button>
    </div>
  </section>
  <!-- Banner -->

  <!-- Customer's compliance -->
  <section>
    <div class="CustomerCompliance-Cirlcle-01 mb-4"></div>
    <div class="CustomerCompliance-Cirlcle-02"></div>
    <!-- <div class="CustomerCompliance-Cirlcle-03"></div> -->
    <div class="CustomerCompliance">
      <div class="CustomerCompliance-Container">
        <h2>What do customer think about our service ?</h2>
        <div class="CustomerDescription col-8">
          <i class="fas fa-quote-right"></i>
          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-ride="carousel"
          >
            <!-- <ol class="carousel-indicators">
              <li
                data-target="#carouselExampleIndicators"
                data-slide-to="0"
                class="active"
              ></li>
              <li
                data-target="#carouselExampleIndicators"
                data-slide-to="1"
              ></li>
              <li
                data-target="#carouselExampleIndicators"
                data-slide-to="2"
              ></li>
            </ol> -->
            <div class="carousel-inner">
              <div class="carousel-item active mb-4">
                <mat-card class="d-flex pa-4 col-8 mx-auto">
                  <img
                    src="https://uifaces.co/our-content/donated/KtCFjlD4.jpg"
                    class="img__review rounded"
                    alt="User of Easy-Web"
                  />
                  <div class="d-block">
                    <mat-card-content class="ml-4 text-left"
                      >" I have many years of experience working as a fullstack
                      developer. But it's really boring to do the same thing
                      over and over again, thanks to <b>Easy-Web</b>, I have
                      saved a lot of time building a complete website for
                      building <b>CMS</b> page. "</mat-card-content
                    >
                    <mat-card-subtitle class="ml-4 text-left">
                      - Brian Graham
                    </mat-card-subtitle>
                  </div>
                </mat-card>
              </div>
              <div class="carousel-item">
                <mat-card class="d-flex pa-4 col-8 mx-auto">
                  <img
                    src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&s=707b9c33066bf8808c934c8ab394dff6"
                    class="img__review rounded"
                    alt="User of Easy-Web"
                  />
                  <div>
                    <mat-card-content class="ml-4 text-left"
                      >What's better than using a new support tool accompanied
                      by an enthusiastic support community. I am so grateful to
                      have such a great community like EasyWeb</mat-card-content
                    >
                    <mat-card-subtitle class="ml-4 text-left">
                      - Marry Smith
                    </mat-card-subtitle>
                  </div>
                </mat-card>
              </div>
              <div class="carousel-item">
                <mat-card class="d-flex pa-4 col-8 mx-auto">
                  <img
                    alt="User of Easy-Web"
                    src="https://gspence1173.files.wordpress.com/2008/07/areawhiteman1.jpg"
                    class="img__review rounded"
                  />
                  <div class="d-block">
                    <mat-card-content class="ml-4 text-left">
                      The difference of EasyWeb is that the system provides you
                      with a project source code based on Angular and .NET Core,
                      which is both convenient and helps our website system to
                      access new technologies.</mat-card-content
                    >
                    <mat-card-subtitle class="ml-4 text-left">
                      - Alex Gander</mat-card-subtitle
                    >
                  </div>
                </mat-card>
              </div>
            </div>
            <a
              class="carousel-control-prev"
              href="#carouselExampleIndicators"
              role="button"
              data-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="carousel-control-next"
              href="#carouselExampleIndicators"
              role="button"
              data-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Customer's compliance -->
  <!-- Build simplify -->
  <section>
    <div class="simplify-section-container">
      <div class="simplify-section">
        <h3>Build simplify.</h3>
        <p>Create simplify Website. No code, no limits.</p>
      </div>
      <div class="mx-auto col-11 d-flex">
        <div class="image-display">
          <img
            class="col-2 mr-4"
            src="../../../assets/images/theme-coutoire.jpg"
          />
          <div class="mr-4">
            <img class="mt-4" src="../../assets/images/theme-dalston.jpg" />
          </div>
          <img
            class="col-2 ml-3 mt -2"
            src="../../assets/images/theme-ovation.jpg"
          />
          <div class="h-100 ml-5 justify-content-end">
            <img
              class="justify-content-end"
              src="../../assets/images/theme-mayland.jpg"
              height="80%"
            />
          </div>
        </div>
      </div>
      <button class="button button-let-go mt-4">
        <div class="svg-let-go mt-4">
          <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
            <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
            <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
          </svg>
        </div>
        <span>Let's go</span>
      </button>
    </div>
  </section>
  <!-- Build simplify -->
</div>

<script>
  $(".carousel").carousel({
    interval: 1000,
  });
</script>
