
@media only screen and (max-width: 1440px) {
    .dashboard-index-container{
        width: 990px;
        margin-bottom: 100px;
    }
    .dashboard-card-upper{
        width: 990px;
        height: 190px;
    }
    .graph{
        display: flex;
    }
}

@media only screen and (max-width: 2560px) {
  
    .graph{
        display: flex;
        margin-top: 50px;
        max-width: 1560px;
        overflow: hidden;
    }
}