@media only screen and (max-width: 2560px) {
    .Client-Admin-Part04{
         margin-left: 20px;
         width: 1165px;
         height: auto;
         border-color: rgb(54,159,217);
         border-style: solid;
         padding-bottom: 30px;
         margin-top: 20px;
         text-align: center;
     }   
     .group-input-part04{
         position: absolute;
         top: 700px;
         width: 1030px;
     }
     .Client-Admin-Part04 h3{
        font-size: 20px;
        padding-top: 30px;
    }
}