
@media only screen and (max-width: 2560px) {
    .Client-Admin-Part04{
        margin-left: 20px;
        width: 1165px;
        height: auto;
        border-color: rgb(54,159,217);
        border-style: solid;
        padding-bottom: 30px;
        margin-top: 20px;
        text-align: center;
    }   
    
    .Client-Admin-Part04 h3{
        font-size: 20px;
        padding-top: 30px;
    }
    .Client-Admin-Part04{
            margin-left: 20px;
            width: 1165px;
            height: auto;
            border-color: rgb(54,159,217);
            border-style: solid;
            padding-bottom: 30px;
            margin-top: 20px;
            text-align: center;
        }   
        .Client-Admin-Part04 h3{
        font-size: 20px;
        padding-top: 30px;
    }
    .group-input-Part04{
        display: block;
    }
    .group-input-Part04-top{
        display: grid;
        grid-template-columns: 250px auto;
        max-width: 1050px;
        margin: 0 auto !important;
        padding-top: 10px;
    }
    .group-input-Part04-top-left{
        height: 200px;
        width: auto;
        display: block;
        .get-logo-customer{
            border-color: black;
            background-color: transparent;
            height: 200px;
            width: 200px;
            border-style: solid;
            border-width: 1px;
        }
        img{
            position: absolute;
            top: 800px;
            left: 100px;
            width: 200px;
            height: auto;
            border-width: 1px;
            z-index: 10;
        }
        img:hover{
            cursor: pointer;
        }
        .get-logo-customer:hover{
            background-color: transparent;
        }
    }

    
    .group-input-Part04-top-right{
        display: grid;
        grid-template-columns:120px 260px 120px 260px ;
        height: auto;
        text-align: left;
        grid-gap: 20px 0px;
    }
    .group-input-Part04-top-right input{
        max-height: 40px;
        outline: none !important;
        background-color: rgb(36,48,60);
        border-color: rgb(54,159,217);
        border-width: 1px;
        color: rgb(54,159,217);
        margin-right: 20px;
    }
    .group-input-Part04-under{
        width: 100%;
        display: grid;
        grid-template-columns: 305px auto;
        text-align: left;
    }
    .group-input-Part04-under-input{
        padding-top: 20px;
        max-width: 740px;
        display: grid;
        grid-template-columns: 120px auto;
        grid-gap: 20px 0px;
    }
    .group-input-Part04-under-input textarea{
        background-color: rgb(36,48,60);
        outline: none !important;
        color: rgb(54,159,217);
        border-color: rgb(54,159,217);
    }
    .group-button-Part04{
        display: grid;
        grid-template-columns: 140px 140px;
        grid-gap: 0px 40px;
    }
    .button{
        background-color: transparent;
        border-color:rgb(54,159,217);
        border-width: 1px;
        border-style: solid;
        color:rgb(54,159,217);
        padding: 10px 40px 10px 40px;
        max-height: 40px;
    }
    .button-primary:hover{
        background-color: rgb(54,159,217);
        color: white;
    }
    .button-secondary:hover{
        background-color: rgb(211,87,193);
        color: white;
    }
}