<div class="Client-Admin-Part04">
    <h3><b>Fill out information</b></h3>
    <p><i>With this information, we'll display it on your website homepage.</i></p>
    <div class="group-input-Part04">
            <div class="group-input-Part04-top">
                <div class="group-input-Part04-top-left">
                    <div class="img__container">
                        <img  [src]="imageSrc || 'http://placehold.it/180'" alt="Bussiness image">
                    </div>
                    <input type="file" class="choose" (change)="readURL($event);">
                </div>
                <div class="group-input-Part04-top-right">
                    <p>Bussiness Name</p>
                    <input type="text" placeholder="Ex: Facebook, Google ..." [(ngModel)]="bussinessName">
                    <p>Location</p>
                    <input type="text" placeholder="Entity's name" [(ngModel)]="location">
                    <p>Email</p>
                    <input type="email" placeholder="Ex: facebook@facebook.com" [(ngModel)]="email">
                    <p>Contact</p>
                    <input type="number" min="0" maxlength="12" placeholder="Ex: 08 123 456" [(ngModel)]="contact">
                </div>
            </div>
            <div class="group-input-Part04-under">
               <div></div>
                <div class="group-input-Part04-under-input">
                    <p>Brief Description</p>
                    <textarea rows="4" [(ngModel)]="briefDescription" class="bussiness__description"></textarea>
                    <p>Actions</p>
                    <div class="group-button-Part04">
                        <button class="button button-primary" (click)="onSubmitUserInfo()">Submit</button>
                        <button class="button button-secondary" (click)="onResetUserInfo()">Reset</button>
                    </div>
               </div>
            </div>
    </div>
</div>
