@media only screen and (max-width: 2560px) {
   .Client-Admin-Part02{
        margin-left: 20px;
        width: 1165px;
        height: auto;
        border-color: rgb(54,159,217);
        border-style: solid;
        padding-bottom: 30px;
        margin-top: 20px;
        text-align: center;
    }   
    .Client-Admin-Part02 h3{
        font-size: 20px;
        padding-top: 30px;
    }
    table {
        width: 100%;
        text-align: left;
        th{
            font-size: 18px;
        }
    }
      
      .mat-form-field {
        font-size: 14px;
        width: 100%;
        background-color: white;
        margin-bottom: 5px;
    }
  
    .mat-form-field-filter{
        font-size: 14px;
        width: 100%;
        background-color: rgb(36,48,60);
        color: white;
        margin-bottom: 5px;
    }
    ::ng-deep .mat-focused .mat-form-field-label {
        /*change color of label*/
        color: rgb(54,159,217);
    }
    ::ng-deep.mat-form-field-underline {
        /*change color of underline*/
        background-color: rgb(54,159,217) !important;
      } 
    ::ng-deep.mat-form-field-ripple {
        /*change color of underline when focused*/
        background-color: rgb(54,159,217) !important;;
    }
    ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
        opacity: 0.03 !important;
        background-color: rgb(54,159,217)!important;
      }
    .mat-paginator-container{
        background-color:rgb(54,159,217) ;
    }
      ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
        background-color: rgb(54,159,217)!important;
    }
    .table__paging{
        background-color: rgb(36,48,60);
        color: rgb(54,159,217);
    }
    
    .mat-labvel{
        color: rgb(54,159,217);
    }
    .search-mat-input{
        color: white;
    }
    .table-entities{
        padding-top: 20px;
        max-width: 1050px;
        margin: 0 auto !important;
    }
    .header-table{
        color: rgb(54,159,217);
    }
    .table-data{
        color: rgb(54,159,217);
    }
    .group-button{
        text-align: left;
        margin-top:19px ;
        margin-bottom:20px ;
        display: grid;
        grid-template-columns: 120px 120px 120px 570px 120px;
    }
    .button{
        border-color: rgb(54,159,217);
        height: 40px;
        background-color: transparent;
        color: rgb(54,159,217);
    }
    .button i{
        padding-right: 15px;
    }
    .button-primary:hover{
        background-color: rgb(40,167,69);
        color: white;
    }
    .button-secondary:hover{
        background-color: rgb(54,159,217);
        color: white;
    }
    .button-third:hover{
        background-color: rgb(211,87,193);
        color: white;
    }
    .mat-elevation-z1 tr,td:hover{
        cursor: pointer;
        background-color: rgb(36,48,60);
        color: white;
    }
    .table-view{
        padding: 10px 30px 10px 30px;
    }
    .table-view:hover{
        background-color: rgb(54,159,217);
        color: white;
        -webkit-transition: background-color 0.5s ease-in;
        -moz-transition: background-color 0.5s ease-out;
        -o-transition: background-color 0.5s ease-in;
        transition: background-color 0.5s ease-out;
    }

}