<div class="navigation-container">
    <ul>
        <li [routerLink]="['index']" routerLinkActive="router-link-active" ><i class="fas fa-home"></i> <span>Dashboard</span></li>
        <li  [routerLink]="['website/create']" routerLinkActive="router-link-active"><i class="fas fa-edit"></i><span>Create website</span></li>
        <li><i class="far fa-eye"></i> <span>Discovery</span></li>
        <li><i class="far fa-chart-bar"></i> <span>Statistic</span></li>
        <li class="button-exit" [routerLink]="['/index']" routerLinkActive="router-link-active" > <i class="fas fa-sign-out-alt"></i> <span>Exit</span></li>
    </ul>
</div>