<div class="navigation">
    <p class="title__navigation__cms"> <b>ADMIN CMS</b></p>
    <!-- <div class="navigation-logo">
        <img class="user__logo" src="https://brasol.vn/public/ckeditor/uploads/tin-tuc/brasol.vn-logo-instargram-logo-instagram-vector.png"/>
    </div> -->
    <div class="navigation__container">
        <button class="button button__upgrade">Upgrade to Pro!</button>
        <ul>
            <li><button class="button button-navigation">
                    <i class="fas fa-atom"></i>Entity
                </button></li>
            <li>
                <button class="button button-navigation">
                    <i class="fas fa-atom"></i> Entity
                </button>
            </li>
            <li>
                <button class="button button-navigation">
                    <i class="fas fa-atom"></i> Entity
                </button>
            </li>
            <li>
                <button class="button button-navigation">
                    <i class="fas fa-atom"></i> Entity
                </button>
            </li>
            <li>
                <button class="button button-navigation button__exit">
                    <i class="fas fa-sign-out-alt"></i> Exit
                </button>
            </li>
        </ul>
    </div>
</div>