<div class="navigation">
    <div class="navigation-logo">
            <img class="user-logo" src="../../../../assets/images/firemni_logo.png">
    </div>
    <ul>
        <li><button class="button button-navigation">
                <i class="fas fa-atom"></i><span>Entity</span>
            </button></li>
        <li>
            <button class="button button-navigation">
                <i class="fas fa-atom"></i> <span>Entity</span>
            </button>
        </li>
        <li>
            <button class="button button-navigation">
                <i class="fas fa-atom"></i> <span>Entity</span>
            </button>
        </li>
        <li>
            <button class="button button-navigation">
                <i class="fas fa-atom"></i> <span>Entity</span>
            </button>
        </li>
    </ul>
</div>