@import "../global-mode.scss";
.create__entity {
  width: 100%;
  height: 100vh;
}
.create__entity__h2 {
  color: $lightColorBackground_Dark;
}
.create__entity__content {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 30%;
  grid-gap: 5%;
}
.fas {
  margin-right: 5px;
}
