
.admin-container{
    margin-left: 290px;
    overflow-y: scroll;
    position: absolute;
    top: 210px;
    height: 460px;
    background-color: rgb(44,56,68);
    max-width: 1077px;
    min-height: 0
}
.admin-header{
    width: 1200px;
}
@media only screen and (max-width: 1430px){

    .admin-navigation{
        position: absolute;
        top: 210px;
        max-height: 447px;
        overflow: hidden;
    }
    .admin-container{
        margin-left: 290px;
        top: 210px;
        max-height: 447px;
        background-color: rgb(44,56,68);
        width: 1080px;
        min-height: 0
    }
}