.admin-navigation{
    position: absolute;
    top: 210px;
    height:610px;
    
}
.admin-container{
    margin-left: 290px;
    overflow-y: scroll;
    position: absolute;
    top: 210px;
    height: 610px;
    background-color: rgb(44,56,68);
    width: 1417px;
}
@media only screen and (max-width: 1440px){
    .admin-navigation{
        position: absolute;
        top: 210px;
        height:610px;
    }
    .admin-container{
        margin-left: 290px;
        overflow-y: scroll;
        position: absolute;
        top: 210px;
        height: 610px;
        background-color: rgb(44,56,68);
        width: 1150px;
    }
}