
// .admin-container{
//     margin-left: 290px;
//     overflow-y: scroll;
//     position: absolute;
//     top: 210px;
//     height: 460px;
//     background-color: rgb(44,56,68);
//     max-width: 1077px;
//     min-height: 0
// }
// .admin-header{
//     width: 1200px;
// }
// @media only screen and (max-width: 1030px){

//     .admin-navigation{
//         position: absolute;
//         top: 210px;
//         max-height: 447px;
//         overflow: hidden;
//     }
//     .admin-container{
//         margin-left: 290px;
//         top: 210px;
//         max-height: 447px;
//         background-color: rgb(44,56,68);
//         width: 1080px;
//         min-height: 0
//     }
// }

@media only screen and (max-width: 2560px){
    .admin-header{
        max-width: 1540px;
        overflow: hidden;
        max-height: 215px;
     }
    .admin-navigation{
        position: absolute;
        top: 170px;
        height: 552px;
        max-height: 552px;
        overflow: hidden;
        background-color: gray;
    }
    .admin-container{
        margin-left: 290px;
        max-height: 552px;
        background-color: rgb(44,56,68);
        width: 1540px;
        max-width: 1560px;
        position: absolute;
        top: 170px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
  
}