@media only screen and (max-width: 2560px) {
    .Client-Admin-Part01{
        margin-left: 20px;
        width: 1165px;
        height: auto;
        border-color: rgb(54,159,217);
        border-style: solid;
        padding-bottom: 30px;
        margin-top: 20px;
    }
    .part01-group-input{
        width: 100%;
        height: auto;
        margin-left: 4%;
        margin-right: 5%;
        max-width: 92%;
        text-align: center;
    }
    .set-connection-string{
        width: 100%;
        text-align: left;
    }
    .part01-input{
        display: flex;
        width: 1165px;
        margin-bottom: 30px;
    }

    .part01-input input{
        width: 80%;
        max-height: 50px;
    }
    .set-connection-string-01{
        display: grid;
        grid-template-columns: 100px 550px 50px 330px;
        grid-gap: 30px 0px;
    }
    .part01-input p{
        text-align: left;
        width: 100px;
        margin-left: -25px;
    }
 
    .part01-input input{
        font: 15px;
        padding: 10px;
        outline: none  !important;
    }
    .part01-input-child{
        margin-left: 25px;
    }
    .part01-group-input h3{
        padding-top: 30px;
        font-size: 20px;
    }
    .part01-group-input p{
        padding-bottom: 30px;
    }
    .group-button{
        display: grid;
        grid-template-columns: auto auto;
        max-width: 375px;
        grid-gap: 0px 40px;
    }
    .btn{
        border-color: rgb(53,159,217);
        border-style: solid;
        border-width: 1px;
        background-color:transparent;
        color: white;
        font-size: 13px;
        padding:10px 20px 10px 20px;
        border-radius: 0px;
        max-height: 50px;
    }
    .input-mat-form-field{
        background-color: white;
        max-height: 50px;       
    }
    .btn-primary:hover{
        background-color: rgb(54,159,217);
    }
    .btn-secondary:hover{
        background-color: rgb(170, 96, 159);
    }
}