$colorText_Border: rgb(54, 159, 217);
$background_Color: rgb(36, 48, 60);
@media only screen and (min-width: 1023px) {
  .Client-Admin-Part01 {
    margin-left: 20px;
    width: 53em;
    height: auto;
    border-color: $colorText_Border;
    border-style: solid;
    padding-bottom: 30px;
    margin-top: 20px;
    overflow: hidden;
  }
  .part01-group-input {
    width: 100%;
    height: auto;
    margin-left: 4%;
    margin-right: 5%;
    max-width: 92%;
    text-align: center;
  }
  .set-connection-string {
    width: 100%;
    text-align: left;
  }
  .part01-input {
    display: flex;
    width: 53em;
    margin-bottom: 30px;
  }
  .batabase__serve {
    width: 43em;
    margin-left: 0.5em;
    background-color: $background_Color;
    border-color: $colorText_Border;
    border-width: 1px;
    background-color: $background_Color;
    max-height: 3em;
    outline: none;
    color: $colorText_Border;
    height: 3em;
  }
  .schema__name {
    width: 43em;
    max-height: 3em;
    background-color: $background_Color;
    border-color: $colorText_Border;
    color: $colorText_Border;
    outline: none;
  }
  .input__item {
    width: 100%;
    color: $colorText_Border;
    background-color: $background_Color;
    border-color: $colorText_Border;
    max-height: 3em;
  }
  .set-connection-string-01 {
    display: grid;
    grid-template-columns: 6em 17em 6em 17em;
    grid-gap: 30px 0px;
    column-gap: 1em;
  }
  .part01-input-child {
    width: 45em;
  }
  .part01-group-input h3 {
    padding-top: 30px;
    font-size: 20px;
  }
  .part01-group-input p {
    padding-bottom: 30px;
  }
  .group-button {
    display: grid;
    grid-template-columns: auto auto;
    max-width: 375px;
    grid-gap: 0px 40px;
  }
  .button {
    border-color: $colorText_Border;
    border-style: solid;
    border-width: 1px;
    background-color: transparent;
    color: $colorText_Border;
    font-size: 13px;
    padding: 10px 20px 10px 20px;
    max-height: 40px;
  }
  .input-mat-form-field {
    max-height: 50px;
    background-color: rgb(36, 48, 60);
    border-color: $colorText_Border;
    border-width: 1px;
    color: $colorText_Border;
    width: 17em;
    mat-label {
      color: $colorText_Border !important;
    }
  }
  .label__input {
    color: $colorText_Border;
  }
  span {
    color: $colorText_Border;
  }
  .btn-primary:hover {
    background-color: $colorText_Border;
    color: white;
  }
  .btn-secondary:hover {
    background-color: rgb(170, 96, 159);
    color: white;
  }
  .mat-select {
    color: $colorText_Border;
  }
  ::ng-deep .mat-select-value {
    color: $colorText_Border;
  }
  ::ng-deep input.mat-input-element {
    color: $colorText_Border;
  }
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: $colorText_Border !important;
  }
}

@media only screen and (min-width: 1439px) {
  .Client-Admin-Part01 {
    width: 77em;
  }
  .part01-input {
    width: 71em;
  }
  .batabase__serve {
    width: 63em;
  }
  .set-connection-string-01 {
    grid-template-columns: 6em 28em 6em 27em;
  }
  .schema__name {
    width: 63em;
  }
  .input-mat-form-field {
    width: 27em;
  }
}
@media only screen and (min-width: 1879px) {
  .Client-Admin-Part01 {
    width: 103em;
  }
  .set-connection-string {
    padding-left: 11em;
  }
  .batabase__serve {
    margin-left: 1em;
    width: 65em;
  }
  .set-connection-string-01 {
    grid-template-columns: 8em 28em 8em 27em;
  }
  .title__url {
    width: 8em;
  }
  .part01-input {
    width: 74em;
  }
  .schema__name {
    width: 65em;
  }
}
