.square-container{
    width: 940px;
    height: 100%;
    overflow-y: hidden;
    display: flex;
    color: rgb(82,181,235);
    background-color: transparent;
}
.container{
    margin-left: 50px;
    width: 940px;
    overflow: hidden;
}
.row{
    width: 910px;
}
.card-item{
    margin-top: 20px;
    padding: 20px;
    width: 265px;
    height: 130px;
    background-color: rgb(36,48,60);
    font-size: 15px;
}

.card-item:hover{
    background-color: rgb(183,80,171);
    cursor: pointer;
    color: white;
}

.title-item-right{
    float: right;
}
.up{
    color: #2ecc71;
}
.down{
    color: red;
}
.card-item i{
    position: relative;
    left: 0px;
    font-size: 40px;
    margin-top: 40px;
}
