<div class="square-container">
    <div class="container">
        <div class="row">
            <div class="col-xl">
                <div class="card-item">
                    <span>Users</span>
                    <span class="title-item-right up"> +0.67%</span>
                    <p><i class="fas fa-user-plus"></i></p>
                </div>
            </div>
            <div class="col-xl">
                <div class="card-item item-behind">
                    <span>Website Published</span>
                    <span class="title-item-right up"> +4%</span>
                    <p><i class="fas fa-cloud-upload-alt"></i></p>
                </div>
            </div>
            <div class="col-xl">
                <div class="card-item item-behind">
                    <span>Website In Use</span>
                    <span class="title-item-right down "> 500 <span class="up">/ 1,000 </span></span>
                    <p><i class="fas fa-chart-line"></i></p>
                </div>
            </div>
        </div>
    </div>
</div>