@media only screen and (max-width: 2560px) {
    .Client-Admin-Part03{
         margin-left: 20px;
         width: 1165px;
         height: auto;
         border-color: rgb(54,159,217);
         border-style: solid;
         padding-bottom: 30px;
         margin-top: 20px;
         text-align: center;
     }   
     .Client-Admin-Part03 h3{
        font-size: 20px;
        padding-top: 30px;
    }
    .group-input-part03{
        display: block;
    }
    .group-input-part03-top{
        display: grid;
        grid-template-columns: 250px auto;
        max-width: 1050px;
        margin: 0 auto !important;
        padding-top: 10px;
    }
    .group-input-part03-top-left{
        height: 100px;
        max-height: 240px;
        max-width: 240px;
        overflow: hidden;
    }
    .group-input-part03-top-left img{
        margin: 0 auto !important;
        border-style: solid;
        border-width: 1px;
        border-color: white;
    }
    .group-input-part03-top-left img:hover{
        cursor: pointer;
    }
    .group-input-part03-top-right{
        display: grid;
        grid-template-columns:120px 260px 120px 260px ;
        height: auto;
        text-align: left;
        grid-gap: 20px 0px;
    }
    .group-input-part03-top-right input{
        max-height: 40px;
        outline: none !important;
        background-color: rgb(36,48,60);
        border-color: rgb(54,159,217);
        border-width: 1px;
        color: white;
        margin-right: 20px;
    }
    .group-input-part03-under{
        width: 100%;
        display: grid;
        grid-template-columns: 305px auto;
        text-align: left;
    }
    .group-input-part03-under-input{
        padding-top: 20px;
        max-width: 740px;
        display: grid;
        grid-template-columns: 120px auto;
        grid-gap: 20px 0px;
    }
    .group-input-part03-under-input textarea{
        background-color: rgb(36,48,60);
        outline: none !important;
        color: white;
        border-color: rgb(54,159,217);
    }
    .group-button-part03{
        display: grid;
        grid-template-columns: 140px 140px;
        grid-gap: 0px 40px;
    }
    .button{
        background-color: transparent;
        border-color:rgb(54,159,217);
        border-width: 1px;
        border-style: solid;
        color:rgb(54,159,217);
        padding: 10px 40px 10px 40px;
        max-height: 40px;
    }
    .button-primary:hover{
        background-color: rgb(54,159,217);
        color: white;
    }
    .button-secondary:hover{
        background-color: rgb(211,87,193);
        color: white;
    }
}