@media only screen and (max-width: 2560px) {
    .Client-Admin-Part03{
         margin-left: 20px;
         width: 1165px;
         height: auto;
         border-color: rgb(54,159,217);
         border-style: solid;
         padding-bottom: 30px;
         margin-top: 20px;
         text-align: center;
     }   
     .Client-Admin-Part03 h3{
        font-size: 20px;
        padding-top: 30px;
    }
}