<div class="Client-Admin-Part03">
    <h3><b>Fill out information</b></h3>
    <p><i>With this information, we'll display it on your website homepage. </i></p>
    <div class="group-input-part03">
            <div class="group-input-part03-top">
                <div class="group-input-part03-top-left">
                        <img src="../../../../assets/images/LogoEasyWeb_02.png" width="200px">
                </div>
                <div class="group-input-part03-top-right">
                    <p>Bussiness Name</p>
                    <input type="text" placeholder="Ex: Facebook, Google ...">
                    <p>Location</p>
                    <input type="text" placeholder="Entity's name">
                    <p>Email</p>
                    <input type="text" placeholder="Ex: facebook@facebook.com">
                    <p>Contact</p>
                    <input type="text" placeholder="Ex: 08 123 456">
                </div>
            </div>
            <div class="group-input-part03-under">
               <div></div>
                <div class="group-input-part03-under-input">
                    <p>Brief Description</p>
                    <textarea rows="4"></textarea>
                    <p>Actions</p>
                    <div class="group-button-part03">
                        <button class="button button-primary">Submit</button>
                        <button class="button button-secondary">Reset</button>
                    </div>
               </div>
            </div>
    </div>
</div>