$textColor: rgb(54, 159, 217);
@media screen and (min-width: 1023px) {
  .Client-Admin-Part03 {
    margin-left: 20px;
    width: 53em;
    height: auto;
    border-color: $textColor;
    border-style: solid;
    padding-bottom: 30px;
    margin-top: 20px;
    text-align: center;
  }
  .Client-Admin-Part03 h3 {
    font-size: 20px;
    padding-top: 30px;
  }
  .part03__content {
    color: $textColor;
    text-align: left;
    width: 100%;
  }
  .part03__content__item {
    margin-left: 55px;
  }
  table {
    width: 86%;
    text-align: left;
    background-color: rgb(36, 48, 60);
    color: rgb(54, 159, 217);
    font-size: 13px;
    margin: 0 auto;
    th {
      font-size: 15px;
    }
    .th__id {
      width: 5%;
    }
    .th__item {
      width: 11%;
    }
  }
  ::ng-deep .input-mat-form-field {
    width: 45em;
    color: $textColor;
  }
  ::ng-deep .mat-label {
    color: $textColor;
  }
  .button {
    border-color: rgb(54, 159, 217);
    height: 40px;
    background-color: transparent;
    color: rgb(54, 159, 217);
  }
  .button-primary {
    padding: 0px 20px 0px 20px;
  }
  .button-primary:hover {
    background-color: rgb(54, 159, 217);
    color: white;
  }
  .group-button {
    margin-left: 55px;
    text-align: left;
    margin-top: 19px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 9em 9em 18em 9em;
  }
  i {
    margin-right: 1em;
  }
  .mat-spinner ::ng-deep .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke:rgb(54, 159, 217);
  }
  .mat-spinner {
    display: block;
    width: 10em;
    margin: 0 auto;
    padding-top: 5em;
    padding-bottom: 2em;
  }
  .paginator{
    margin: 0 auto;
    background:rgb(36,48,60);
    color: $textColor;
  }
}
@media only screen and (min-width: 1439px) {
  .Client-Admin-Part03 {
    width: 77em;
  }
  ::ng-deep .input-mat-form-field {
    width: 69em;
  }
  .group-button {
    grid-template-columns: 9em 9em 42em 9em;
  }
  .table {
    width: 90.3%;
  }
}
@media only screen and (min-width: 1779px) {
  .Client-Admin-Part03 {
    width: 103em;
  }
  ::ng-deep .input-mat-form-field {
    width: 94em;
  }
  .group-button {
    grid-template-columns: 9em 9em 67em 9em;
  }
  .table {
    width: 92.1%;
  }
}
