<div class="Client-Admin-Part03">
  <h3><b>Setting up your columns's configuration</b></h3>
  <p>
    <i
      >In this step, you can customize type of data, how UI's form look like...
    </i>
  </p>

  <div class="part03__content">
    <div class="part03__content__item">
      <p>Pick one table that you want to configure</p>
      <mat-form-field class="input-mat-form-field" appearance="fill">
        <mat-label class="mat-label">Select Table</mat-label>
        <mat-select
          [(ngModel)]="selectedTable"
          class="mat-select"
          (selectionChange)="selectTable()"
        >
          <mat-option
            value="Admin"
            ngDefaultControl
            *ngFor="let item of listTables"
            [value]="item.id"
          >
            <span class="name-database">{{ item.name }}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="listComlumnsInTable.length <= 0" class="mat-spinner">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="listComlumnsInTable.length > 0">
      <div>
        <div class="group-button">
          <button
            class="btn button button-secondary pa-2"
            [disabled]="selectedItem === null"
            (click)="editColumn()"
          >
            <i class="far fa-edit"></i>Edit
          </button>
          <button
            class="btn button button-third pa-2"
            [disabled]="selectedItem === null"
            (click)="hideColumnConfigure()"
          >
            <i class="far fa-eye-slash"></i>Hide
          </button>
          <button
            class="btn button button-third pa-2"
            [disabled]="selectedItem === null"
            (click)="setForeignKey()"
          >
            <i class="fas fa-link"></i>Foreign Key
          </button>
          <button
            class="btn button button-secondary float-right btn__submit pad2"
            [disabled]="selectedItem === null"
            (click)="SubmitColumns()"
          >
            <i class="fas fa-upload"></i> Submit
          </button>
        </div>
      </div>
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col" class="th__id">#</th>
            <th
              scope="col"
              data-editable="true"
              class="th__item th--custom--name"
            >
              Explicit Name
              <i class="ml-2 fas fa-info-circle small"></i>
            </th>
            <th scope="col" class="th__item">
              Data Type <i class="ml-2 fas fa-info-circle small"></i>
            </th>
            <th scope="col" class="th__item">
              Ordinal Position <i class="ml-2 fas fa-info-circle small"></i>
            </th>
            <th scope="col" class="th__item">
              Display <i class="ml-2 fas fa-info-circle small"></i>
            </th>
            <th scope="col" class="th__item">
              Hidden <i class="ml-2 fas fa-info-circle small"></i>
            </th>
            <th scope="col" class="th__item">
              Nullable <i class="ml-2 fas fa-info-circle small"></i>
            </th>
            <th scope="col" class="th__item">
              Actions <i class="ml-2 fas fa-info-circle small"></i>
            </th>
          </tr>
        </thead>
        <tbody *ngFor="let item of listComlumnsInTable">
          <tr>
            <td>
              <mat-checkbox
                class="btn__checkbox"
                type="checkbox"
                (click)="chooseItem(item)"
              >
              </mat-checkbox>
            </td>
            <td>{{ item.explicitName }}</td>
            <td>{{ item.dataType }}</td>
            <td>{{ item.ordinalPosition }}</td>
            <td>{{ item.displayComponent }}</td>
            <td>{{ item.isHidden }}</td>
            <td>{{ item.isNullable }}</td>
            <td>
              <button class="button button-primary">View Detail</button>
            </td>
          </tr>
        </tbody>
      </table>
      <mat-paginator [length]="100" [pageSize]="10" class="paginator table">
      </mat-paginator>
    </div>
  </div>
</div>
