<div class="create__entity">
    <h2 class="create__entity__h2">Create... </h2>
    <div class="create__entity__content">
            <mat-form-field class="example-full-width">
                <mat-label>Field</mat-label>
                <input  matInput placeholder="Ex. Your data is here...">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Field</mat-label>
                <input  matInput placeholder="Ex. Your data is here...">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Field</mat-label>
                <input  matInput placeholder="Ex. Your data is here...">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Field</mat-label>
                <input  matInput placeholder="Ex. Your data is here...">
              </mat-form-field><mat-form-field class="example-full-width">
                <mat-label>Field</mat-label>
                <input  matInput placeholder="Ex. Your data is here...">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Field</mat-label>
                <input  matInput placeholder="Ex. Your data is here...">
              </mat-form-field>
              <div>
                  <button class="btn btn-success"><i class="fas fa-check"></i>Submit</button>
              </div>
    </div>
</div>