<div class="statistic__container">
    <div class="statistic">
        <h1>Statistic</h1>
        <p><i>All of your database processed and processing</i></p>
        <table class="table table-hover">
            <thead>
                <th class="table__th" scope="col"><h2>N.o</h2></th>
                <th class="table__th" scope="col"><h2>Type</h2></th>
                <th class="table__th" scope="col"><h2>Database Name</h2></th>
                <th class="table__th" scope="col"><h2>Bussiness Name</h2></th>
                <th class="table__th" scope="col"><h2>URL Source Download</h2></th>
                <th class="table__th" scope="col"><h2>Status</h2></th>
            </thead>
            <tbody *ngFor="let item of listDBRegistered;let i = index">
                <tr class="tr--hover">
                    <td>{{i}}</td>
                    <td>{{item.dbType}}</td>   
                    <td>{{item.databaseName}}</td>
                    <td *ngIf="item.bussinessName">{{item.bussinessName}}</td>
                    <td *ngIf="!item.bussinessName">---</td>
                    <td *ngIf="item.apiDownloadLink">
                        <a href={{item.apiDownloadLink}}><p>{{item.apiDownloadLink}}</p></a>
                    </td>
                    <td *ngIf="!item.apiDownloadLink">---</td>
                    <td *ngIf="item.apiDownloadLink">Finished</td>
                    <td *ngIf="!item.apiDownloadLink">Processing</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>