@import "../global-mode.scss";

.table {
  background-color: $lightColorBackground;
}
.material--dark {
  background-color: $lightColorBackground_Dark;
  transition: all 1 ease-out;
}
.datatable-header {
  background-color: $lightColorBackground_Dark;
}
th {
  font-size: 18px;
}
.fas {
  margin-right: 5px;
}
