

<table class="table datatable-body-row"  [ngClass]="{'material--dark': isDarkThemeSubscription==true}" >
    <thead>
        <th>No </th>
        <th>Item </th>
        <th>Item </th>
        <th>Item </th>
        <th>Item </th>
        <th>Actions </th>
    </thead>
    <tbody>
        <tr><td>1</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td>
            <td>
            <button class="btn btn-primary" > <i class="fas fa-search"></i> View</button>
            <button class="btn btn-success" (click)="onClickEdit()" ><i class="fas fa-edit"></i> Edit</button>
            <button class="btn btn-danger"><i class="fas fa-trash"></i>Delete</button>
        </td>
    </tr>
        <tr><td>2</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td>  <td>
            <button class="btn btn-primary"> <i class="fas fa-search"></i> View</button>
            <button class="btn btn-success" (click)="onClickEdit()" ><i class="fas fa-edit"></i> Edit</button>
            <button class="btn btn-danger"><i class="fas fa-trash"></i>Delete</button>
        </td></tr>
        <tr><td>3</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td>  <td>
            <button class="btn btn-primary"> <i class="fas fa-search"></i> View</button>
            <button class="btn btn-success" (click)="onClickEdit()" ><i class="fas fa-edit"></i> Edit</button>
            <button class="btn btn-danger"><i class="fas fa-trash"></i>Delete</button>
        </td></tr>
    </tbody>
</table>

