<div class="dialog">
    <h2 mat-dialog-title>Edit Table <u><i>{{data.name}}</i></u></h2>
<div mat-dialog-content class="dialog__container">
    <div class="dialog__container__first_row">
        <div>
            <mat-form-field>
                <p><b>Change Explicit Name</b></p>
                <mat-label>...</mat-label>
                <input matInput value="ExplicitName">    
            </mat-form-field>
        </div>
        <div class="show--hide--table">
            <p><b>Show/Hide table</b></p>
            <mat-checkbox class="table--hidden" >
               In use
            </mat-checkbox>
        </div>
    </div>
    <div class="list__actions">
        <p><b>Set Actions</b></p>
        <ul>
            <li>  
            <mat-checkbox>
                Read
             </mat-checkbox></li>
            <li>
                <mat-checkbox >
                    Create
                 </mat-checkbox>
            </li>
            <li><mat-checkbox >
                Update
             </mat-checkbox></li>
            <li><mat-checkbox >
                Delete
             </mat-checkbox></li>
        </ul>
    </div>
    <div>
        <button class="button" [mat-dialog-close]>Update</button>
        <button class="button" [mat-dialog-close]>Cancel</button>
    </div>
</div>

</div>