.header{
    display: flex;
    width: 1030px;
    height: 440px;
    background-color: #1E2B32;
}
.logo{
    margin-top: 40px;
    width: 200px;
    height: 90px;
    margin-right: 50px;
    margin-left: 40px;
    background-color: #1E2B32;
}
.search-bar{
    margin-top: 50px;
    background-color: rgb(44,56,68);
    height: 55px;
    width: 700px;
    margin-right: 20px;

}
.search-bar button{
    color: rgb(54,159,217);
    background-color: transparent;
    border-color: transparent;
}
.search-bar button:hover{
    color: rgb(160,83,160);
    
}
.search-bar input{
    color: rgb(54,159,217);
    background-color: transparent;
    border-color: transparent;
    width: 700px;
    height: 60px;
    font-size: 18px;
}

i{
    font-size: 20px;
}
*:focus {
    outline: none;
}
.button{
    width: 60px;
    height: 40px;
    background-color: transparent;
    border-color: transparent;
    color: rgb(54,159,217);
    margin-top: 60px;
    float:right;
}
.button:hover{
    color: white;
}
.img-profile{
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-color: transparent;
    border-color: rgb(54,159,217);
    border-width: 1px;
    border-style: solid;
    margin-top: 50px;
}

@media only screen and (max-width: 1440px)   {
    .header{
        display: flex;
        height: 300px;
        width: 1365px;
        background-color: #1E2B32;
        overflow: hidden;
    }
    .search-bar{
    margin-top: 50px;
    background-color: rgb(44,56,68);
    height: 55px;
    width: 800px;
    margin-right: 20px;
    }

    .search-bar button{
        color: rgb(54,159,217);
        background-color: transparent;
        border-color: transparent;
    }
    .search-bar button:hover{
        color: rgb(160,83,160);
        
    }
    .search-bar input{
        color: rgb(54,159,217);
        background-color: transparent;
        border-color: transparent;
        width: 760px;
        height: 60px;
        font-size: 18px;
    }
}