<app-client-header></app-client-header>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" 
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <div class="Nav-Project-Name">
        <h3>Site: <u>GA Logistics</u></h3>
        <label>Role: User</label>
      </div>
  </mat-toolbar>
    <mat-nav-list>
      
      <hr>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Review</span>
    </mat-toolbar> -->


    <!-- Add Content Here -->
    <!-- Conten of website desclare here -->
    <app-client-preview-website></app-client-preview-website>
    <app-client-admin-part01></app-client-admin-part01>
    <!-- Conten of website desclare here -->
  </mat-sidenav-content>
</mat-sidenav-container>
