.sidenav-container {
  height: 700px;
  background-color: white;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}


.sidenav {
  width: 200px;
  background-color: rgb(61, 66, 71);
}

.sidenav .mat-toolbar {
  background: inherit;
  height: 150px;
}
.mat-drawer-content{
  overflow-y: auto;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
mat-nav-list a{
  color: white;
}

mat-nav-list a:hover{
  background-color: gray;
  
}
.Nav-Project-Name{
  color: white;
  padding-top: 20px;
}
.Nav-Project-Name h3{
  font-size: 20px;
}
.Nav-Project-Name label{
  font-size: 15px;
}
hr{
  background-color: white;
  margin-top: 0px;
}