<div class="index-container">
    <!-- Banner -->
    <section>
        <div class="banner-01">
            <h3>Drop Database <br>Get Your Website</h3>
            <button class="button button-explore">
                <svg class="svg-explore" width="180px" height="60px" viewBox="0 0 180 60" class="border">
                    <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
                    <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
                  </svg>
                  <span>Explore</span>
            </button>
        </div>
    </section>
    <!-- Banner -->
    
    <!-- Customer's compliance -->
    <section>
        <div class="CustomerCompliance-Cirlcle-01">
        </div>
        <div class="CustomerCompliance-Cirlcle-02">
        </div>
        <div class="CustomerCompliance-Cirlcle-03">
        </div>
        <div class="CustomerCompliance">
            <div class="CustomerCompliance-Container">
                    <h2>What do customer think about our service ?</h2>
                    <div class="CustomerDescription">
                        <i class="fas fa-quote-right"></i>
                        <p >
                            Lorem isqsum lorem isqsum lorem isqsum lorem isqsum lorem isqsumlorem isqsumlorem isqsum <br>
                            Lorem isqsum lorem isqsum lorem isqsum lorem isqsum lorem isqsumlorem isqsumlorem isqsum <br>
                            Lorem isqsum lorem isqsum lorem isqsum lorem isqsum lorem isqsumlorem isqsumlorem isqsum <br>
                            Lorem isqsum lorem isqsum lorem isqsum lorem isqsum lorem isqsumlorem isqsumlorem isqsum <br>
                        </p>
                        <p>
                            - Lorem Nigga
                        </p>
                    </div>
            </div>
            
        </div>
    </section>
    <!-- Customer's compliance -->
    <!-- Build simplify -->
    <section>
        <div class="simplify-section-container">
            <div class="simplify-section">
                <h3>Build simplify.</h3>
                <p>Create simplify Website. No code, no limits.</p>
            </div>
            <div class="image-display">
                <img style="margin-top: 120px;" src="../../assets/images/theme-coutoire.jpg" width="240px"
                    height="900px">
                <img style="margin-left:70px; margin-top: 50px;" src="../../assets/images/theme-dalston.jpg"
                    width="190px" height="630px">
                <img style="margin-left: 50px;" src="../../assets/images/theme-ovation.jpg" width="220px"
                    height="800px">
                <img style="margin-left:43px;margin-top:170px ;" src="../../assets/images/theme-mayland.jpg"
                    height="400px">
                <img style="margin-left:80px;margin-top: 120px;" src="../../assets/images/theme-rivington.jpg"
                    height="800px" width="300px">

            </div>
            <button class="button button-let-go">
                <div class="svg-let-go">
                    <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
                        <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
                        <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
                      </svg>
                </div>
                  <span>Let's go</span>
            </button>
        </div>
    </section>
    <!-- Build simplify -->
</div>