<div class="dialog">
  <h2 mat-dialog-title>Edit column: {{ data.name }}</h2>
  <hr class="devider" />
  <div mat-dialog-content class="dialog__container">
    <div class="dialog__container__first_row">
      <div>
        <mat-form-field class="explicit__name">
          <p><b>Change Explicit Name</b></p>
          <input matInput value="ExplicitName" />
        </mat-form-field>
      </div>
    </div>
    <div>
      <mat-form-field appearance="fill" class="display__component">
        <mat-label class="label__display__component"
          >Display Component</mat-label
        >
        <mat-select>
          <mat-option *ngFor="let item of listColumns; let i = index" value="i">
            {{ i }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <button class="button" [mat-dialog-close]>Update</button>
      <button class="button" [mat-dialog-close]>Cancel</button>
    </div>
  </div>
</div>
