<div class="Header-Container">
  <img src="../../../../assets/images/LogoEasyWeb_02.png" />
  <ul>
    <li><button class="btn btn-2">Home</button></li>
    <li><button class="btn btn-2">Discovery</button></li>
    <li><button class="btn btn-2">Inspiration</button></li>
    <li>
      <button class="btn btn-2" (click)="navigateToCommunity()">
        Community
      </button>
    </li>
  </ul>
  <!-- <button *ngIf="!isLogged" class="button-loggin" routerLink='/login' routerLinkActive="router-link-active" > Login <i class="fas fa-chevron-right"></i></button> -->
</div>
<button class="btn btn-5" routerLink="/login">
  Login <i class="fas fa-sign-in-alt"></i>
</button>
